*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/*Nav section*/
.navbar-brand{
    font-weight: bold;
}



/*Start hero section*/
.new-arriv{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 100px;
}

/*Body section card*/
.fa-gifts{
    font-size: 80px;
    margin-top: 50px;
}
.fa-phone{
    font-size: 80px;
    margin-top: 50px;
}
.fa-credit-card{
    font-size: 80px;
    margin-top: 50px;
}
.card-detail{
    text-align: center;
}
.card-detail h3{
    font-weight: bold;
    margin-top: 20px;
}

/**Card section**/
.shoes{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
.shoes h1{
    font-weight: bold;
}

.card img:hover{
    background-color: rgb(198, 188, 188);
    transition: 0.5s;
}



/**Month section**/
.month-details h5{
    margin-top: 50px;
    font-size: 16px;
}
.month-details h1{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}
.month-details p{
    font-weight: bold;
    font-size: 18px;
}
.month-details h3{
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 5px;
}

/**Customer section**/
.customer-details img{
    border-radius: 100%;
}
.customer-details h5{
    border-left: 3px solid skyblue;
    padding-left: 20px;
    margin-top: 10px;
}
.customer-details h4{
    font-weight: bold;
}
.customer-details h1{
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 45px;
    margin-top: 0px;
}
.customer-details p{
    margin-bottom: 50px;
    
}
.fa-gifts{
    margin-left: 10px;
    
}


/**Footer photo section**/
.instagram{
    text-align: center;
}
.instagram h1{
    font-weight: bold;
    font-size: 40px;
}
.instagram p{
    margin-top: 20px;
    margin-bottom: 20px;
}


/**Footer section**/
.ftr-minishop h5{
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.ftr-minishop p{
    margin-top: 10px;
    
}
.ftr-minishop i{
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
    margin-top: 30px;
}
.ftr-menu h5{
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.ftr-menu a{
    text-decoration: none;
    color: white;
    
}
.ftr-menu a:hover{
    color: skyblue;
}
.ftr-help h5{
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.ftr-help a{
    text-decoration: none;
    color: white;

}
.ftr-help a:hover{
    color: skyblue;
}
.ftr-question h5{
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.copy{
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 50px;
}