*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/*Nav section*/
.navbar-brand{
    font-weight: bold;
}



/*Start hero section*/
.new-arriv{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 100px;
}

/*Body section*/
.fa-gifts{
    font-size: 80px;
    margin-top: 50px;
}
.fa-phone{
    font-size: 80px;
    margin-top: 50px;
}
.fa-credit-card{
    font-size: 80px;
    margin-top: 50px;
}
.card-detail{
    text-align: center;
}
.card-detail h3{
    font-weight: bold;
    margin-top: 20px;
}